<div class="container">
  <div class="row section mt-2">
      <div class="col-md-12">
          <h1 class="name oswald-font">Nathanial Tachibana</h1>
      </div>
      <div class="location col-md-6">
          <span class="fa fa-map-marker"></span>&nbsp; 1000 Copper Ave NE, Albuquerque NM 87112
          <br /> <span class="fa fa-phone"></span>&nbsp; 505.555.5555<br />
          <span class="fa fa-envelope"></span>&nbsp; <span>nate.tachibana@outlook.com</span>
      </div>
  </div>
  <div class="row section">
      <p class="summary"> <span class="fa fa-quote-left"></span>&nbsp;Dynamic and motivated individual with broad experience including mechanical/electrical systems, telecommunications and development operations. Skilled in working with and directing functional teams,
          architecting solution paths, and unblocking individual's workflow. Ability to communicate effectively on any technical level. Proficient in acquiring knowledge quickly, ascertaining direction and implementing solutions. &nbsp;<span class="fa fa-quote-right"></span></p>
  </div>
  <div class="row section">
      <div class="col-md-12">
          <h2 class="oswald-font"><span class="fa fa-briefcase"></span>&nbsp; Work</h2>
      </div>
      <div class="row item">
          <div class="col-md-2 text-right">Apr&nbsp;2018 &ndash; Present</div>
          <div class="item-detail col-md-10">
              <h3>
                  Development Operations &bull; <a target="_blank" href="https:&#x2F;&#x2F;eagltechnology.com" class="company">EAGL Technology</a>
              </h3>

              <p class="text-muted text-justify">Both the EAGL and the CityWeb Systems use proprietary FireFly® and DragonFly™ Energy Detector technology offering the most effective indoor/outdoor Gunshot Detection and Ballistic Identification equipment. The FireFly® and DragonFly™
                  Energy Detector technology, originally pioneered by The Department of Energy laboratory and perfected by EAGL Technology.</p>
              <ul>
                  <li class="text-justify">Develop embedded systems solutions for custom microprocessor pcbs</li>
                  <li class="text-justify">Architect and maintain linux environments</li>
                  <li class="text-justify">Moderate webstack implementation</li>
                  <li class="text-justify">Develop future path for OCI deployment of web server</li>
                  <li class="text-justify">Maintain network infrustructure of development environment</li>
                  <li class="text-justify">Utilize atlassian software suite to orchestrate development</li>
              </ul>
          </div>
      </div>
      <div class="row item">
          <div class="col-md-2 text-right">Jan&nbsp;2012 &ndash; Apr&nbsp;2018</div>
          <div class="item-detail col-md-10">
              <h3>
                  Technician &bull; <a class="company">Joe Gagan Effects Pedals</a>
              </h3>

              <p class="text-muted text-justify">Joe Gagan Effects Pedals manufatures custom musical effects pedals. From custom circuits, pcb design and manufacture of complete pedals.</p>
              <ul>
                  <li class="text-justify">Generate custom circuits via circuit analysis software</li>
                  <li class="text-justify">Build PCB layout schematics for multiple product lines</li>
                  <li class="text-justify">Solder pcbs and assembly of products</li>
              </ul>
          </div>
      </div>
      <div class="row item">
          <div class="col-md-2 text-right"> May&nbsp;2015 &ndash; Dec&nbsp;2017</div>
          <div class="item-detail col-md-10">
              <h3>
                  Fiber Design and Splicer &bull; <a target="_blank" class="company">CFX Communications</a>
              </h3>

              <p class="text-muted text-justify">CFX Communications is a telecommunications company that specializes in OSP filber optic design, fiber splicing, and end to end characterization of fiber circuits.</p>
              <ul>
                  <li class="text-justify">Design OSP fiber optic paths, from case to case or dmarc to co</li>
                  <li class="text-justify">Splice commercial fiber optic circuits</li>
                  <li class="text-justify">Utilize various analysis tools to characterize fiber quality and fault</li>
                  <li class="text-justify">Install and certify ethernet wiring</li>
                  <li class="text-justify">Respond to emergency fiber outages</li>
              </ul>
          </div>
      </div>
      <div class="row item">
          <div class="col-md-2 text-right"> Jan&nbsp;2016 &ndash; Nov&nbsp;2016</div>
          <div class="item-detail col-md-10">
              <h3>
                  Solar Technician &bull; <a target="_blank" href="https:&#x2F;&#x2F;arraytechinc.com" class="company">Array Technologies, Inc.</a>
              </h3>

              <p class="text-muted text-justify">Array solar trackers are engineered to withstand some of the harshest conditions on the planet and keep on going. With the objective of a minimum 30-year lifespan, they lead the industry in reliability, durability, and quality.</p>
              <ul>
                  <li class="text-justify">Organize retrofit crews, 20-80 members, in repairing large scale solar sites</li>
                  <li class="text-justify">Commission solar tracker arrays utilzing PLCs, dc motor systems and fiber optic communication</li>
                  <li class="text-justify">Orchestrate inventtory and shipping for 31 sites nationally</li>
              </ul>
          </div>
      </div>
      <div class="row item">
          <div class="col-md-2 text-right"> Aug&nbsp;2012 &ndash; Mar&nbsp;2014</div>
          <div class="item-detail col-md-10">
              <h3>
                  Technician &bull; <a target="_blank" class="company">Blue Smoke Garage - Closed</a>
              </h3>

              <p class="text-muted text-justify">Blue Smoke Garage is a motorcycle repair and restoration shop specializing in vintage and antique vehicles.</p>
              <ul>
                  <li class="text-justify">Restore all mechanical systetms including machining and custom retrofitting</li>
                  <li class="text-justify">Diagnose and repair or retrofit electrical systems</li>
                  <li class="text-justify">Maintain and tune a wide variety of motorcycle systems</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="row section">
      <div class="row section">
          <div class="col-md-12">
              <h2 class="oswald-font"><span class="fa fa-star"></span>&nbsp; Internships</h2>
          </div>
          <div class="row item">
              <div class="col-md-2 text-right">Sept&nbsp;2010 &ndash; May&nbsp;2012</div>
              <div class="item-detail col-md-10">
                  <h3>
                      Undergraduate Intern &bull; <span class="company">Microelectronics Research and Development Company</span>
                  </h3>

                  <p class="text-muted text-justify">PCB redesign for extraterrestrial use. Utilized 2D CAD programs, various programming languages, fpga’s and hand-soldering techniques.</p>
                  <ul></ul>
              </div>
          </div>
          <div class="row item">
              <div class="col-md-2 text-right">May&nbsp;2009 &ndash; Sept&nbsp;2009</div>
              <div class="item-detail col-md-10">
                  <h3>
                      Undergraduate Intern &bull; <span class="company">Extraterrestrial Photovoltaic Fab, EMCORE Corporation</span>
                  </h3>
                  <p class="text-muted text-justify">Examined precious metal reclamation for arc-deposition machines in a photovoltaic fab. Learned the complete process of extraterrestrial photovoltaic fabrication.</p>
                  <ul></ul>
              </div>
          </div>
      </div>
      <div class="row section">
          <div class="col-md-12">
              <div class="col-md-12">
                  <h2 class="oswald-font"><span class="fa fa-mortar-board"></span>&nbsp; Education</h2>
              </div>
              <div class="row item">
                  <div class="col-md-2 text-right">Sept&nbsp;2014 &ndash; May&nbsp;2015</div>
                  <div class="item-detail col-md-10">
                      <h3>Bachelor</h3>

                      <h4>University of New Mexico, Mathematics and Languages &bull; <span class="company">62 credits</span>
                      </h4>
                  </div>
              </div>
              <div class="row item">
                  <div class="col-md-2 text-right">Sept&nbsp;2008 &ndash; Dec&nbsp;2013</div>
                  <div class="item-detail col-md-10">
                      <h3>Bachelor</h3>

                      <h4>New Mexico Institute of Mining and Technology, Mechanical Engineering Electrical/Aerospace Option &bull; <span class="company">118 credits</span></h4>
                  </div>
              </div>
          </div>
          <div class="row section">
              <div class="col-md-12">
                  <div class="col-md-12">
                      <h2 class="oswald-font"><span class="fa fa-search"></span>&nbsp; Research Experience</h2>
                  </div>
                  <div class="row item">
                      <div class="col-md-2 text-right">Sept&nbsp;2011 &ndash; May&nbsp;2012</div>
                      <div class="company col-md-10">
                          <h4>Undergraduate Design Clinic &bull; <span class="item-detail">Department of Mechanical Engineering, NMIMT</span>
                              <p class="text-muted text-justify">Collaborated with GE Intelligent Platforms to create a small form factor IO processing unit for terrestrial aircraft diagnostics. The unit contained a custom made PCB and designed to MIL-STD specifications.</p>
                              <ul></ul>
                          </h4>
                      </div>
                  </div>
                  <div class="row item">
                      <div class="col-md-2 text-right">Sept&nbsp;2010 &ndash; May&nbsp;2011</div>
                      <div class="company col-md-10">
                          <h4>Undergraduate Design Clinic &bull; <span class="item-detail">Department of Mechanical Engineering, NMIMT</span>
                              <p class="text-muted text-justify">Collaborated with AeroJet Rocketdyne to create a electro-mechanical tool to analyze ballistic impacts. Design specifications included reliability, accuracy and speed.</p>
                              <ul></ul>
                          </h4>
                      </div>
                  </div>
                  <div class="row item">
                      <div class="col-md-2 text-right">May&nbsp;2008 &ndash; Jan&nbsp;2009</div>
                      <div class="company col-md-10">
                          <h4>Undergraduate Design Clinic &bull; <span class="item-detail">Department of Mechanical Engineering, NMIMT</span>
                              <p class="text-muted text-justify">Collaborated with Graduate students to optimize particle additives for geothermal energy production. Various nanoparticles were tested to increase heat retention in fluids.</p>
                              <ul></ul>
                          </h4>
                      </div>
                  </div>
                  <div class="row section">
                      <div class="col-md-12">
                          <div class="col-md-12">
                              <h2 class="oswald-font"><span class="fa fa-paper-plane"></span>&nbsp; Publications</h2>
                          </div>
                          <div class="row item">
                              <div class="col-md-2 text-right">Jun&nbsp;2011 &ndash; Jan&nbsp;2014</div>
                              <div class="item-detail col-md-10">
                                  <h4>CFD supported examination of Buoy Design for Wave Energy Conversion </h4>
                                  <span class="item-detail">Nadir Yilmaz, Geoffrey E. Trapp, Scott M Gagan, Timothy R. Emmerich</span>

                                  <p class="text-muted text-justify">Utilized computational fluid dynamics software to research wave energy conversion.</p>

                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row section">
                      <div class="col-md-12">
                          <div class="col-md-12">
                              <h2 class="oswald-font"><span class="fa fa-envelope"></span>&nbsp; Instructional</h2>
                          </div>
                          <div class="row item">
                              <div class="col-md-2 text-right"> Aug&nbsp;2011 &ndash; May&nbsp;2012</div>
                              <div class="company col-md-10">
                                  <h4>Undergraduate Professor Aide &bull; <span class="company">Department of Mathematics, NMIMT</span>
                                      <p class="text-muted text-justify">Graded and prepared coursework for Calculus, Calculus II and Calculus III for four semesters for various professors.</p>
                                      <ul></ul>
                                  </h4>
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="row section">
                      <div class="col-md-12">
                          <div class="col-md-12">
                              <h2 class="oswald-font"><span class="fa fa-mortar-board"></span>&nbsp; Skills</h2>

                              <div class="row">
                                  <div class="column">
                                      <h4>Linux</h4>
                                      <p>File structure, systemd, cron, bash, intermediate command skills</p>
                                      <progress value="68" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Windows</h4>
                                      <p>File structure, win svcs, powershell</p>
                                      <progress value="60" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Mechanical Systems</h4>
                                      <p>Understand construction and function of all types of systems</p>
                                      <progress value="80" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Electrical Systems</h4>
                                      <p>Understading of system from a design/schematic level to manufacture of chips and pcbs</p>
                                      <progress value="68" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Operations</h4>
                                      <p>Moderate Software development tools (Atlassian), o365 business accounts, commuications (slack)</p>
                                      <progress value="85" max="100"></progress>
                                  </div>
                              </div>
                              <hr>
                              <div class="row">
                                  <div class="column">
                                      <h4>Problem Solving</h4>
                                      <p>Understand methods and interpret best action</p>
                                      <progress value="92" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Teamwork</h4>
                                      <p>Work well with teams by understanding needs and strengths</p>
                                      <progress value="92" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Virtualization</h4>
                                      <p>QEMU, VirtualBox and VMware</p>
                                      <progress value="48" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Containerization</h4>
                                      <p>Worked with OCI and LXD containers</p>
                                      <progress value="43" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Orchestration</h4>
                                      <p>Researched and tested kubrenetes</p>
                                      <progress value="20" max="100"></progress>
                                  </div>
                              </div>
                              <hr>

                              <div class="row">
                                  <div class="column">
                                      <h4>Software Degubbing</h4>
                                      <p>Review and debug code</p>
                                      <progress value="55" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Software Testing</h4>
                                      <p>Manual and automated testing</p>
                                      <progress value="85" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Software Documentation</h4>
                                      <p>Track tasks, archive procedures</p>
                                      <progress value="82" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Hardware Troubleshooting</h4>
                                      <p>Check schematics, root cause analysis via oscilloscope and multimeter</p>
                                      <progress value="80" max="100"></progress>
                                  </div>
                                  <div class="column">
                                      <h4>Networking</h4>
                                      <p>TCP/IP prtotcol, OSI layer, LAN/WAN, VPN, SSH</p>
                                      <progress value="70" max="100"></progress>
                                  </div>
                              </div>


                          </div>
                      </div>

                  </div>
              </div>
              <div class="row section">
                  <div class="col-md-12">
                      <div class="col-md-12">
                          &nbsp;
                      </div>
                  </div>
              </div>


              <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
              <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
